<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração de Chamados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .button-spacing {
            margin: 10px 0; /* Espaçamento em cima e embaixo dos botões */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Administração de Chamados</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solicitante</th>
                    <th>Local</th>
                    <th>Descrição</th>
                    <th>Data de Criação</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for chamado in chamados %}
                <tr>
                    <td>{{ chamado['_id'] }}</td>
                    <td>{{ chamado['solicitante'] }}</td>
                    <td>{{ chamado['local'] }}</td>
                    <td>{{ chamado['descricao'] }}</td>
                    <td>{{ chamado['data_criacao'].strftime('%d/%m/%Y %H:%M') }}</td>
                    <td>
                        {% if chamado['data_conclusao'] %}
                            Concluído em {{ chamado['data_conclusao'].strftime('%d/%m/%Y %H:%M') }}
                        {% else %}
                            Pendente
                        {% endif %}
                    </td>
                    <td>
                        {% if not chamado['data_conclusao'] %}
                            <form action="{{ url_for('concluir_chamado', chamado_id=chamado['_id']) }}" method="POST">
                                <button type="submit" class="btn btn-success">Concluir Chamado</button>
                            </form>
                        {% else %}
                            <form action="{{ url_for('excluir_chamado', chamado_id=chamado['_id']) }}" method="POST">
                                <button type="submit" class="btn btn-danger">Excluir Chamado</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-4">
            <div class="button-spacing">
                <a href="{{ url_for('relatorio') }}" class="btn btn-primary btn-block">Visualizar Relatório</a>
            </div>
            <div class="button-spacing">
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
